/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text: #000;
  --color-block-background: var(--van-border-color, #ebedf0);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-block-background: var(--van-border-color, #3a3a3c);
  }
}
